input:focus, textarea:focus{
  border:2px solid red;
}

input:invalid, select:invalid, textarea:invalid{
  border:2px solid red;
}

input:valid, select:valid, textarea:valid{
  border:2px solid green;
}

button:hover{
  background-color:black;
  color:white;
}

.radio-group input[type="radio"]:checked{
  border:2px solid green;
  background-color:lightblue;
  border-color: lightblue;
  box-shadow: 10px 10px;
}

.radio-group input[type="radio"]:checked+label{
  color:green;
}

input:first-of-type{
  border:2px solid red;
}