body{
  margin: 50px;
  padding: 0;
}

.container{
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
}

div > input, select{
  width: 600px;
  height: 30px;
  border:1px red solid;
  border-radius: 4px;
  outline: none;
}

.radio-group{
 margin-top: 25px;
}

.label2{
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.radio-group input[type="radio"]:checked{
  border:2px solid green;
  box-shadow: 10px 10px;
}

.radio-group input[type="radio"]:checked+label{
  color:green;
}

legend{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

div > textarea{
  width: 600px;
  height: 100px;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
}

.button{
  text-align: center;
  margin-top: 10px;
}

div > button{
  width: 600px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: white;
}

div > button:hover{
  background-color: black;
}


/**
input:focus, textarea:focus{
  border:2px solid red;
}

input:invalid, select:invalid, textarea:invalid{
  border:2px solid red;
}

input:valid, select:valid, textarea:valid{
  border:2px solid green;
}

button:hover{
  background-color:black;
  color:white;
}

.radio-group input[type="radio"]:checked{
  border:2px solid green;
  background-color:lightblue;
  border-color: lightblue;
  box-shadow: 10px 10px;
}

.radio-group input[type="radio"]:checked+label{
  color:green;
}

input:first-of-type{
  border:2px solid red;
}**/